 


<br>

<div class="container">
  <h1>All Posts</h1>
   <% @posts.each do |post| %>
  <div class="row">
    <div class="col-sm-12">
      <p> <%= link_to post.title, post %> by <%= User.find(post.user_id).username %></p>
    </div>
  </div>
    <% end %>
  <!-- <div class="row">
    <div class="col-sm-3">
      <div class="avatar">
        User Avatar
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        Education
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        Classrooms
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        Games
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12">
     <p> <%= link_to 'New Post', new_post_path, class: "btn btn-default" %> </p>
    </div>
  </div>
</div>
