<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h1>Education</h1>
		</div>
		<div class="col-sm-3">
			<div class="post">
				<h2>Math</h2>
				<p>James</p>
				<p>quadratic</p>
			</div>
		</div>
		<div class="col-sm-3">
			<h2>Science</h2>
		</div>
		<div class="col-sm-3">
			<h2>Humanities</h2>
		</div>
	</div>
</div>
