/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {background-color:lightgray}
h1 {color:blue}
h2 {color:red}
p {color:green}

.hero{
	height: 480px;
	padding-top: 150px;
	background:#12a5f4;
}

.hero h1, .hero h2 {
	text-align: center;
	color: #fff;
}	

.btn{
	display: table;
	text-align: center;
}

.main{
	color: #12a5f4;
}
.main-heders{
	color: #12a5f4;
}